
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Change Password</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" formControlName="username"  name="username">
            </mat-form-field>
          </td>
          <td>
            <div class="error" *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">Username is required</div>

          </td>
        </tr>
        <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="New Password (min length 6)" formControlName="password" type="password" name="password" required minlength="6">
          </mat-form-field></td>
          <td>
            <div class="error" *ngIf="loginForm.controls['password'].hasError('minlength')">
              Minimum password can be 6 characters long.
            </div>
          </td>
        </tr>

        <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Confirm New Password" formControlName="confirmpassword" type="password" name="confirmpassword" minlength="6" required>
          </mat-form-field></td>
        </tr>


        <tr>
          <td align="center">
            <mat-card-actions>
              <button mat-raised-button type="submit" color="primary">Change Password</button>
            </mat-card-actions>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>

</mat-card>

