<mat-toolbar color="primary">
  <span>
    <img src="/assets/logo.jpg" class="angular-logo">

    Hinawi School

  </span>
  <span class="fill-remaining-space"></span>

  <!--<a mat-button routerLink="/" (click)="setTitle( 'Home - American Academy School' )">Home</a>-->

  <a class="nav-link" mat-button routerLink="/teacher" (click)="setTitle( 'Marks - Hinawi School' )">Marks</a>

  <a mat-button routerLink="/teacherassignment" (click)="setTitle( 'Assignment - Hinawi School' )">Assignment</a>

  <a mat-button routerLink="/changepassword" (click)="setTitle( 'Change Password - Hinawi School' )">Change Password</a>

  <a mat-button routerLink="/studentlist" (click)="setTitle( 'Change Password - Hinawi School' )">Student List</a>


  <!--<a mat-button routerLink="/marks" (click)="setTitle( 'Marks - American Academy School' )">Marks</a>-->

  <!--<button mat-button>Menu Option 01</button>-->
  <!--<button mat-button>Menu Option 02</button>-->
  <a mat-button (click)="onLogout()">Logout</a>
</mat-toolbar>
