
<mat-grid-list cols="2" style="background-color: white" rowHeight="60px" >

  <mat-grid-tile [colspan]="2" class="back-groun-section">
    <div class="text-inside-grid">

          <em>Our School</em>

    </div>
  </mat-grid-tile>


  <mat-grid-tile [colspan]="2">
    <div class="text-inside-grid">
      <h4><strong><em>Our Mission</em></strong></h4>
    </div>
  </mat-grid-tile>


  <mat-grid-tile [colspan]="2">
    <div class="text-inside-grid">
      To meet modern educational standards and to enforce the highest moral values aiming at developing students
      potential through different teaching methods that help the acquire self-confidence and individuality in multicultural environment.
    </div>
  </mat-grid-tile>


  <mat-grid-tile [colspan]="2">
    <div class="text-inside-grid">
      <h4><strong><em>Our Vision</em></strong></h4>
    </div>
  </mat-grid-tile>


  <mat-grid-tile [colspan]="2">
    <div class="text-inside-grid">

      The school is currently open to grade levels Pre-Kindergarten to grade 12. We have created a co-educational School for grades K-12 with special focus on developing the individual gifts of the students and encouraging their talents from a young age. Ind doing so, we hope to foster their academic excellence, build effective skills in the use of technology
      and communication and develop their thinking and choice making skills for life in a warm, creative and academically unique environment.
    </div>
  </mat-grid-tile>


  <mat-grid-tile [colspan]="2">
    <div class="text-inside-grid">
      <h4><strong><em>Value Statement</em></strong></h4>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" rowspan="7">
    <div class="text-inside-grid">
        <p>We are committed to a Superior quality of life through these Value Statements.</p>
        <ul>
          <li>Meeting the needs of each and every students.</li>
          <li>Making personal contact with each student every day.</li>
          <li>Developing learning activities that utilize a variety of learning styles.</li>
          <li>Using a variety of assessment tools.</li>
          <li>Providing regular feedback opportunities for students and staff regarding daily operations, curriculum and instructions.</li>
          <li>Providing parents with regular feedback on students progress.</li>
          <li>Continually improving curricular offerings.</li>
          <li>Working collaboratively to continually improve our learning community.​</li>
        </ul>
        <br>
        <h4><strong><em>Aims and Objectives</em></strong></h4>
        <ul style="margin-bottom: 0px;">
          <li>To keep abreast of the latest developments in the field of education.</li>
          <li>To meet modern educational standards that help students acquire the self-confidence and the intellectual skills necessary to be productive members of the global society.</li>
          <li>To shoulder individual and collective duties in order to promote creativity and lasting interaction.</li>
          <li>To follow an co-operate with American Schools in order to achieve School improvement through accreditation.</li>
          <li>To follow the highest ethical values which prepare students to be independent, motivated, self confident and academically qualified to carry on higher education in respectable colleges and universities.</li>
        </ul>
      </div>
  </mat-grid-tile>



</mat-grid-list>
