.img {
  width: 100%;
  margin-bottom: 18%;
}
.card-picture {
  width: 23%;
  margin-bottom: 2%;
}
.container {
  min-height: 100%;
  width: 100%;
}
.search-form {
  width: 90%;
}

.text-inside-grid {
  position: absolute;
  left: 5px;
  right: 5px;
}

.back-groun-section{
  color:white;
  background-color:#c3393b;

}

h1{font-size:28px;line-height:1.5em;letter-spacing:0;color:#c3393b;font-weight:normal;font-family:'Tinos',Arial, Tahoma, sans-serif;}
h2{font-size:24px;line-height:1.5em;letter-spacing:0;color:#c3393b;font-weight:normal;font-family:'Tinos',Arial, Tahoma, sans-serif;}
h3{font-size:20px;line-height:1.5em;letter-spacing:0;color:#c3393b;font-weight:normal;font-family:'Tinos',Arial, Tahoma, sans-serif;}
h4{font-size:18px;line-height:1.5em;letter-spacing:0;color:#c3393b;font-weight:normal;font-family:'Tinos',Arial, Tahoma, sans-serif;}
h5{font-size:16px;line-height:1.5em;letter-spacing:0;color:#c3393b;font-weight:normal;font-family:'Tinos',Arial, Tahoma, sans-serif;}
h6{font-size:14px;line-height:1.5em;letter-spacing:0;color:#c3393b;font-weight:normal;font-family:'Tinos',Arial, Tahoma, sans-serif;}
em{font-size: 20px;margin-left: 10px}


.skin_width {
  width: 100%;
  max-width: 1140px;
  min-width: 767px;
  margin: 0 auto;
  position: relative;
}
.pagename_style {
  padding: 0 20px;
}

.clearafter {
  display: inline-block;
}

.point-title{
  color:#c3393b;
}
