<p>
  {{this.pageFilter}}
</p>
<p align="center">
  {{pageHeader}}
</p>

<div class="example-container mat-elevation-z8">

  <div class="example-header">
    <mat-form-field>
      <input matInput #filter (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      <button mat-icon-button matSuffix aria-label="clear" *ngIf="filter.value" (click)="filter.value=''; applyFilter('');">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>


<mat-table #table [dataSource]="dataSource">

  <!--<ng-container matColumnDef="sid" >-->
    <!--<mat-header-cell *matHeaderCellDef [style.display]="''">ID </mat-header-cell>-->
    <!--<mat-cell *matCellDef="let element" [style.display]="''"> {{element.sid}} </mat-cell>-->
  <!--</ng-container>-->

  <ng-container matColumnDef="sno" >
    <mat-header-cell *matHeaderCellDef >SNO </mat-header-cell>
    <mat-cell *matCellDef="let element" > {{element.sno}} </mat-cell>
  </ng-container>

  <!-- Name Column -->

  <ng-container matColumnDef="studentname" >
    <mat-header-cell *matHeaderCellDef > Name of Student </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.studentname}} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="cw">
    <mat-header-cell *matHeaderCellDef> CW <br/>10

    </mat-header-cell>
    <mat-cell *matCellDef="let element; let i = index">
      <mat-form-field floatLabel="never">
        <input matInput  type="number" [(ngModel)]="element.cw" (change)="checkCW(i,'cw')">
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="hw">
    <mat-header-cell *matHeaderCellDef> HW <br/>10 </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never">
        <input matInput type="number" [(ngModel)]="element.hw" (change)="checkCW(dataSource.filteredData.indexOf(element), 'hw')">
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="project">
    <mat-header-cell *matHeaderCellDef> Project<br/>5 </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never">
        <input matInput type="number" [(ngModel)]="element.project" (change)="checkProject(dataSource.filteredData.indexOf(element))">
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="quiz1">
    <mat-header-cell *matHeaderCellDef> Quiz1 <br/>10</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never">
        <input matInput [(ngModel)]="element.quiz1" type="number" (change)="checkQuiz1(dataSource.filteredData.indexOf(element))"
               (input)="calAvgQuiz(dataSource.filteredData.indexOf(element))">
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="quiz2">
    <mat-header-cell *matHeaderCellDef> Quiz2 <br/>10</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never">
        <input matInput [(ngModel)]="element.quiz2" type="number" (change)="checkQuiz2(dataSource.filteredData.indexOf(element))"
               (input)="calAvgQuiz(dataSource.filteredData.indexOf(element))">
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="quiz3">
    <mat-header-cell *matHeaderCellDef> Quiz3 <br/>10</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never">
        <input matInput [(ngModel)]="element.quiz3" type="number" (change)="checkQuiz3(dataSource.filteredData.indexOf(element))"
               (input)="calAvgQuiz(dataSource.filteredData.indexOf(element))">
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="avgquiz">
    <mat-header-cell *matHeaderCellDef matTooltip="A+B/3"> Avg Quiz<br/>10</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never">
       <input matInput [(ngModel)]="element.avgquiz" disabled>
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="test1">
    <mat-header-cell *matHeaderCellDef> Test1 <br/>100</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never">
        <input matInput [(ngModel)]="element.test1" type="number" (change)="checkTest1(dataSource.filteredData.indexOf(element))">
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="finalexam">
    <mat-header-cell *matHeaderCellDef> Final Exam <br/>100</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never">
        <input matInput [(ngModel)]="element.finalexam" type="number" (change)="checkFinalExam(dataSource.filteredData.indexOf(element))">
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="finalmark">
    <mat-header-cell *matHeaderCellDef> Final Grade<br/>100 </mat-header-cell>
    <mat-cell *matCellDef="let element" [ngClass]="{'positive' : element.finalmark >= 50, 'negative' : element.finalmark < 50}">
      <mat-form-field floatLabel="never">
        <input matInput [(ngModel)]="element.finalmark" disabled>
      </mat-form-field>
    </mat-cell>
  </ng-container>

    <ng-container matColumnDef="marksLetter">
      <mat-header-cell *matHeaderCellDef> Letter Grade </mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="{'positive' : element.finalmark >= 50, 'negative' : element.finalmark < 50}">
        <mat-form-field floatLabel="never">
          <input matInput [(ngModel)]="element.marksLetter" disabled>
        </mat-form-field>
      </mat-cell>

  </ng-container>

  <!--<ng-container matColumnDef="weight">-->
    <!--<mat-header-cell *matHeaderCellDef> Academic Year </mat-header-cell>-->
    <!--<mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>-->
  <!--</ng-container>-->

  <!--<ng-container matColumnDef="symbol">-->
    <!--<mat-header-cell *matHeaderCellDef> Academic Year </mat-header-cell>-->
    <!--<mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>-->
  <!--</ng-container>-->


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"
           >
  </mat-row>

</mat-table>

  <mat-card-actions align="center">
    <button mat-raised-button  color="primary"  (click)="onSubmit()">Submit</button>
  </mat-card-actions>

</div>
