
<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" *ngIf="!isUserLoggedIn">
  <mat-toolbar-row>
    <span> <img src="/assets/logo.png" /></span>

    <span style="margin-left: 40px">American Academy School</span>

    <!--<span><a href="/">HOME</a></span>-->
    <span class="spacer"></span>

    <a mat-button routerLink="/" (click)="setTitle( 'Home - American Academy School' )">Home</a>
    <a mat-button routerLink="/ourschool" (click)="setTitle( 'Our School - American Academy School' )">Our School</a>

    <!--<a mat-button routerLink="/register">Register</a>-->
    <a mat-button routerLink="/login"  (click)="setTitle( 'Login - American Academy School' )">Login</a>
    <a mat-button routerLink="/login" *ngIf="isLoggedIn$ | async" (click)="setTitle( 'Login - American Academy School' )">Logout</a>

  </mat-toolbar-row>
</mat-toolbar>

<!--<mat-toolbar-row>-->
  <!--<span><img src="./assets/devglan.png"></span>-->
  <!--<span class="example-fill-remaining-space"></span>-->
  <!--<span class="example-spacer"></span>-->

  <!--<button mat-button>About</button>-->
  <!--<button mat-button>Contact</button>-->
<!--</mat-toolbar-row>-->
<!--</mat-toolbar>-->


<router-outlet></router-outlet>
