<!--<div class="row">-->

<!--<div class="col-md-6 login-container">-->
<!--<h2 style="margin: auto">Login </h2>-->
<!--<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">-->
<!--<div class="form-group">-->
<!--<label for="username">Username:</label>-->
<!--<input type="text" class="form-control" formControlName="username" id="username" autocomplete="off">-->

<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="pwd">Password:</label>-->
<!--<input type="password" class="form-control" formControlName="password" id="pwd" autocomplete="off">-->


<!--</div>-->
<!--<button class="btn btn-success" [disabled]="loginForm.invalid">Login</button>-->
<!--<div *ngIf="invalidLogin" class="error">-->
<!--<div>Invalid credentials.</div>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->


<!--<mat-toolbar color="primary">-->
<!--<mat-toolbar-row>-->
<!--<span><img src="./assets/devglan.png"></span>-->
<!--<span class="example-fill-remaining-space"></span>-->
<!--<span class="example-spacer"></span>-->

<!--<button mat-button>About</button>-->
<!--<button mat-button>Contact</button>-->
<!--</mat-toolbar-row>-->
<!--</mat-toolbar>-->

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Assignments</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <table class="example-full-width" cellspacing="0">
        <!--<tr>-->
          <!--<td>-->
            <!--<mat-form-field class="example-full-width">-->
              <!--<input matInput placeholder="Username" formControlName="username"  name="username" required value="user1">-->
            <!--</mat-form-field>-->
          <!--</td>-->
          <!--<td>-->
            <!--<div class="error" *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">Username is required</div>-->

          <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
          <!--<td><mat-form-field class="example-full-width">-->
            <!--<input matInput placeholder="Password" formControlName="password" type="password" name="password" required value="1">-->
          <!--</mat-form-field></td>-->
        <!--</tr>-->

      <tr>
        <!--<td>-->
          <!--<mat-form-field>-->
            <!--<mat-select matNativeControl required>-->
              <!--<mat-option value="volvo">Volvo</mat-option>-->
              <!--<mat-option value="saab">Saab</mat-option>-->
              <!--<mat-option value="mercedes">Mercedes</mat-option>-->
              <!--<mat-option value="audi">Audi</mat-option>-->
            <!--</mat-select>-->
          <!--</mat-form-field>-->
        <!--</td>-->
        <td>
          <mat-form-field>
            <mat-select placeholder="Academic Year" (selectionChange)="changeYear($event.value)" >
              <mat-option *ngFor="let year of years" [value]="year">
                {{year}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>

        <tr>
          <td>
            <mat-form-field>
              <mat-select placeholder="Grade" (selectionChange)="changeGrade($event.value)">
                <mat-option *ngFor="let grade of grades" [value]="grade">
                  {{grade}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field>
              <mat-select placeholder="Class" (selectionChange)="changeClass($event.value)">
                <mat-option *ngFor="let class of classes" [value]="class">
                  {{class}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field>
              <mat-select placeholder="Subject" (selectionChange)="changeSubject($event.value)">
                <mat-option *ngFor="let subject of subjects" [value]="subject">
                  {{subject}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field>
              <mat-select placeholder="Type" (selectionChange)="changeType($event.value)">
                <mat-option *ngFor="let type of types" [value]="type">
                  {{type}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </td>
        </tr>

        <tr>
          <td>

            <label for="singleFile">Upload file</label>
            <input id="singleFile" type="file" (change)="selectFile($event)"/>
            <br>



            <!--<mat-input id="picture" label="Upload Images" name="picture"-->
                   <!--ngf-select="upload($file)" ng-model="picture" accept="image/*"-->
                   <!--ngf-max-size="5MB" ngf-validate="{width: {min: 1400, max:2000}, height: {min: 630, max: 900}}">-->
            <!--</mat-input>-->

          </td>
        </tr>
        <tr>
          <td align="right">
            <mat-card-actions>
              <button mat-raised-button  color="primary">Submit</button>
            </mat-card-actions>
          </td>
        </tr>

        <tr>
          <td>
            <div *ngIf="invalidLogin" class="error">
              <div>{{result}}</div>
            </div>
          </td>
        </tr>


      </table>
    </form>

    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="academicyear">
        <mat-header-cell *matHeaderCellDef> Academic Year </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.academicyear}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="grade">
        <mat-header-cell *matHeaderCellDef> Grade </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.grade}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="section">
        <mat-header-cell *matHeaderCellDef> Class </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.section}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="subject">
        <mat-header-cell *matHeaderCellDef> Subject </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.subject}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="filetype">
        <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.filetype}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="filepath">
        <mat-header-cell *matHeaderCellDef> File </mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="onExport(element.filename)">
          <button mat-raised-button  color="primary">Download</button>
          <!--<a (click)="onExport($event)">Download</a>-->
        </mat-cell>

      </ng-container>




      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>


  </mat-card-content>

</mat-card>
