<!--<div class="row">-->
  <!--<div class="col-sm-8">-->
    <!--<div class="site_welcome"><span>Welcome to the American Academy School</span>!</div>-->
  <!--</div>-->
<!--</div>-->

<mat-grid-list cols="2" style="background-color: whitesmoke" rowHeight="60px">
  <mat-grid-tile [colspan]="2">
    <div class="text-inside-grid">
      <h2>Welcome to the Hinawi School !</h2>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2">
    <div class="text-inside-grid">
I welcome you to the Hinawi School in UAE.  It is the commitment of our educational institution to provide to our students as enriching and stimulating daily learning experience at a level of recognized quality.  We firmly believe that every student has a potential for excellence that we can find and foster.
            In fact, our programs and approaches reflect this explicit commitment.
          </div>

  </mat-grid-tile>

  <mat-grid-tile [colspan]="2">
    <div class="text-inside-grid">
      The Hinawi School philosophy, programs and methodology aim to develop each student’s thinking skills, life-long learning habits, sound knowledge and technological aptitudes whilst developing a lasting sense of social responsibility,
      self-confidence, leadership and citizenship.
    </div>
  </mat-grid-tile>


  <mat-grid-tile [colspan]="2">
    <div class="text-inside-grid">
      At Hinawi School, we emphasize the value of the individual in an environment
      where each student rejoices in the differences in the interchanges.
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2">
    <div class="text-inside-grid">
      Our outstanding faculty and our students know how to work happily and successfully
      together in a multicultural environment.

    </div>
  </mat-grid-tile>



</mat-grid-list>
